body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: deepskyblue;
    color: white;
}
.card{
    background-color: deepskyblue;
    color: white;
}
.card-title{
    font-size: smaller;
}
.card-text{
    background-color: white;
    color: black;
    font-size: smaller;
}