body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-color:deepskyblue;
    font-family: fantasy;
    color: white;
}
.footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    background-color: #f8f9fa;
}
.card{
    background-color: deepskyblue;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
.card :hover{
    background-color: white;
    color: deepskyblue;
}
.container{
    width: 100%;
}